.sidebar-container{
    background-color: #171717;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 60px;
}
.sidebar-contents{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.sidebar-tab-name{
    font-family: "Inter";
    color: white;
    text-decoration: none;
}
.sidebar-tab{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding:  10px;
    cursor: pointer;
}